<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mimi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,116}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mimi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{84,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{84,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mimi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{90,114}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{90,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mimi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{84,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{84,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mimiYao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83bbfd4d0814c233580269c82ee96243:1/1$</string>
            <key>textureFileName</key>
            <string>mimiYao.png</string>
        </dict>
    </dict>
</plist>
